extends layout

block content
    h1= title
  
    div.result-container
        //- - locals.data.items
        - each reqdata in data.items
            | Request
            .each-result                
                = reqdata.host
                br.
                = reqdata.connection